:host{
    display: block;
    width: 75%;
    margin: 0 auto;
    padding: 20px;
    background-color: #efefef;
}

.container{
    display: inline-block;
    margin: 0 auto;
}

input[type="text"], label {
    padding: 5px;
    display: block;
    margin: 5px;
}

.dagmenu{
    width: 200px;
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    margin-top: 10px;
}

.dagmenu img{
    width: 180px;
    height: 120px;
}